/*TODO: Install breakpoints on small screen to align text left side and/or
        change the size of the input fields.

        Create color scheme that isnt absolute garbage.

        Give shape and padding/margins to elements for aesthetics.

        Work with fonts to see if it helps.

        Sell this bitch for big money.

        Creat a bunch of icons. Yes not for this project, but in general I need more icons.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-container {
  font-family: cursive;
  display: flex;
  border: 2px solid blue;
  flex-wrap: wrap;
  max-width: 50%;
  background-color: rgba(200, 156, 146, 0.87);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 35px;
  resize: both;
  overflow: auto;
}

.new-div {
  /* The height and width dimensions are placeholders only */
  /*width: 200px;
  height: 400px;*/
  background-color: rgba(152, 110, 152, 0.78);
  border: 1px solid blue;
  flex: 1 1 auto;
}

input {
  text-align: right;
}

.create-button-holder {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  padding: 10px;
  max-width: 25%;
  border: 1px solid orange;
  /*align-items: flex-start;*/
  /*justify-content: center;*/
  /*text-align: right;*/
}


#date-input, #comment-input {
  width: 143px;
}

#create-card {
  width: 143px;
  margin-left: auto;
  margin-right: auto;
}

#date-input:focus {
  background-color: rgba(195, 237, 74, 0.8);
}

#form-structure .container{
  /*margin-left: auto;
  margin-right: auto;*/
  /*display: flex;
  text-align: left;*/
  text-align: right;
  align-self: center;
  border: solid black 1px;
}
.card-header,.card-body,.card-relics {
  border: 1px dashed purple;
}

.card-template {
  background-color: rgba(74, 170, 187, 0.75);
  flex: 1 1 auto;
}
