/*Descending order based on page position/specificity*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #026873;
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
  linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
  background-size: 13px, 29px, 37px, 53px;
  /*background image c/o https://projects.verou.me/css3patterns/#cicada-stripes*/
}

header, footer{
  background-color: black;
  position: sticky;
  top: 0px;
}

#menu-bar, #bottom-menu-bar {
  font-family: Arial, sans-serif;
  font-size: 1.25em;
  color: rgb(175, 208, 232);
  display: flex;
  padding: 20px;
}

#menu-bar p, #bottom-menu-bar p {
  flex: 1 1 auto;
  text-align: center;
}

#title-text a {
  color: inherit;
}

input, textarea {
  border-radius: 8px;
}

label {
  color: rgb(6, 3, 24);
  font-size: 1.25em;
}

.create-button-holder {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  padding: 10px;
  max-width: 30%;
  border-radius: 15px;
  background-color: rgb(198, 211, 236);
}

#form-holder .container{
  font-family: Georgia Arial sans-serif;
  color: rgb(13, 26, 45);
  padding: 4px;
  box-shadow: 0 0 2px blue;
  background-color: rgb(106, 175, 204);
  text-align: right;
  align-self: center;
  border: 2px solid blue;
  border-radius: 12px;
  margin-bottom: 3px;
}

#create-card {
  width: 143px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(153, 179, 212);
  border: 0;
  padding: 7px;
  border-radius: 10px;
}

#form-holder .container:hover, #form-holder .container:active{
  background-color: rgb(187, 206, 240);
}

#main-container {
  font-family: DejaVu Sans Mono;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 35px;
  overflow: auto;
}

.new-div {
  font-family: sans-serif;
  background-color: rgb(156, 210, 244);
  border: 1px solid blue;
  flex: 1 1 auto;
  border-radius: 10px;
  margin: 7px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 3px blue;
  max-width: 30%;
  height: 100%;
}

.result {
  padding: 5px 12px;
}

p.result{
  font-weight: 125;
  font-size: 1.15em;
}

#date-input, #comment-input {
  width: 143px;
}

#create-card:hover{
  background-color: rgba(195, 237, 74, 0.8);
  cursor: pointer;
}

input:focus, textarea:focus {
  background-color: rgba(195, 237, 74, 0.8);
}


/*Breakpoints for 3 normal sized screens, desktop, tablet, mobile*/

@media screen and (max-width: 1008px){
  .create-button-holder{
    max-width: 40%;
  }

  .new-div {
    max-width: 45%;
  }
}

@media screen and (max-width: 759px){
  .create-button-holder {
    max-width: 60%;
  }

  .new-div {
    max-width: 100%;
  }
}
