* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-container {
  font-family: cursive;
  display: flex;
  border: 2px solid goldenrod;
  flex-wrap: wrap;
  width: 750px;
  background-color: rgba(200, 156, 146, 0.87);
  margin-left: auto;
  margin-right: auto;
  resize: both;
  overflow: auto;
}

.new-div {
  width: 200px;
  height: 400px;
  background-color: rgba(152, 110, 152, 0.78);
  border: 1px solid blue;
  flex: 1 1 auto;
}

.create-button-holder {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 500px;
  border: 1px solid orange;
  /*align-items: flex-start;*/
  /*justify-content: center;*/
  /*text-align: right;*/
}


#date-input, #comment-input {
  width: 143px;
}

#create-card {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#date-input:focus {
  background-color: rgba(195, 237, 74, 0.8);
}

#form-structure .container{
  /*margin-left: auto;
  margin-right: auto;*/
  /*display: flex;
  text-align: left;*/
  text-align: right;
  align-self: center;
  border: solid black 1px;
}
.card-header,.card-body,.card-relics {
  border: 1px dashed purple;
}

.card-template {
  background-color: rgba(74, 170, 187, 0.75);
  flex: 1 1 auto;
}
